body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

ul{
    overflow: hidden;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: darkgreen;
    width: 1910px;
    height: 40px;
    position: fixed;
    padding-top: 0px;
}
li a{
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: aquamarine;
}
li :hover{
    color: chartreuse;
}
li{
    display: block;
    float: left;
}
.secondLogo{
    font-family: kenia;
    font-size: 30px;
    padding: 15px;
    margin: 280px;
    color: white;
    text-align: center;
}
a{
    text-decoration: none;
}
.about{
    display: flex;
}
.matches{
    display: flex;
}
.gridContainer{
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 40px;
}
.item{
    width: 140px;
    height: 140px;
    background-color: brown;    
}
h2{
    padding-left: 10px;
    /* background-color: green; */
    color: white;
    float: left;
    /* border-radius: 6px; */
    font-size: 18px;
}
.para1{
    color: rgb(165, 136, 136);
    width: 600px;
    padding-left: 10px;
    border: 3px solid greenyellow;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.para2{
    color: rgb(165, 136, 136);
    width: 600px;
    padding-left: 10px;
    border: 3px solid greenyellow;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
label{
    font-family: kenia;
    color: white;
}
.comment{
    font-family: kenia;
    color: white;
}